.auth {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("static/../img/auth_cover.jpg");
    background-size: cover;
    form {
        background-color: rgba(45,55,72,1);
        color: #fff;
        padding: 1rem 2rem;
        border-radius: .5rem;
        label {
            color: rgba(226,232,240,1);
        }
        input[type=text], input[type=password], input[type=radio] {
            background-color: rgba(74,85,104,1);
            border-color:rgba(74,85,104,1);
            border-radius: .5rem;
            color: #fff;
            &:focus {
                background-color: rgba(74,85,104,1);
                box-shadow: 0 0 0 3px rgba(66,153,225,.5);
                outline: 2px solid transparent;
                outline-offset: 2px;
                color: #fff;
            }

        }
    }
}