{% extends "base.html" %}
{% block content %}
    <main class="auth">
        <!-- Message Flashing -->
        {% include 'flash.html' %}
        <form action="" method="post">
            <legend class="text-center">Login Now</legend>
            {{ form.hidden_tag() }}
            <fieldset>
                <!-- Email Field -->
                <div class="form-group">
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span class="form-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Password Field -->
                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span class="form-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Password Field -->
                <div class="form-group form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label ml-2") }}
                </div>
                <!-- Submit Button -->
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                    <input type="reset" value="reset" class="btn btn-danger">
                </div>          
            </fieldset>
            <small>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></small>
            <p>
                <small>
                    <a href="{{ url_for('main.home') }}">Back to the home page</a>
                </small>    
            </p>    
        </form>
    </main>
{% endblock %}